#portada{
	background-color: #005944;
	width: 45%;
	height: 100%;
	float: left;
	box-shadow: 10px 0px 7px -6px rgba(0,0,0,0.7);
}

#portada>img{
	width: 80%;
	margin: auto 10%;
}

#footer{
	width: 100%;
	height: 70px;
	float: left;
}

#footer>a{
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 2.4vw;
	width: 50%;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

#datos{
	padding: 5vw;
	width: 55%;
	height: 100%;
	float: left;
}

@media screen and (max-width: 450px){
	#portada{
		width: 100%;
		height: 70px;
		float: left;
	}
	
	#portada>img{
		height: 50px;
		margin: 10px 20px;
		float: left;
		width: 50px;
	}

	#footer{
		float: left;
		height: 70px;
		width: calc(100% - 90px);
	}

	#footer>a{
		font-size: 4vw;
	}
	
	#datos{
		width: 100%;
		height: calc(100% - 70px);
	}
}