*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Segoe-ui", sans-serif;
	border:none;
}

body,html{
	height: 100%;
	width: 100%;
}

.in{
	background: transparent;
	outline: none;
	border-bottom: solid 2px #005944;
	font-weight: lighter;
	font-size: 1.6vmax;
	height: 4vh;
	line-height: 4vh;
	width: 100%;
	padding: 0px 1.2vw;
	margin-bottom: 1.5vh;
	box-shadow: 0px 5px 4px -5px rgba(0,0,0,0.7);
	transition: all .3s;
}

.in:focus{
	border-bottom: solid 2px rgb(08,209,98);
	transition: all .2s;
}

.btn{
	color: white;
	outline: none;
	background-color: #005944;
	font-weight: bold;
	font-size: 1.6vmax;
	height: 6vh;
	line-height: 4vh;
	float: right;
	width: 30%;
	border-radius: 5px;
	margin-top: 3vh;
	box-shadow: 0px 5px 4px -5px rgba(0,0,0,0.7);
	transition: all .3s;
}

button:hover{
	transition: all .1s;
	transform: scale(1.1);
}

button:active{
	transition: all .1s;
	transform: scale(1.05);
}

.des{
	color: #003924;
	font-size: 1.6vmax;
	margin: 1vh 2vw;
}

.titulo{
	margin: 3vh 0px 2vh 0px;
	color: #005944;
	font-weight: bold;
	font-size: 3vmax;
}

.alrt{
	background: #005944;
}

.err{
	background: #A5081F;	
}

#not{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(220,235,220,0.4);
}

#cont{
	width: 250px;
	position: fixed;
	left: calc(50% - 125px);
	top: 30%;
	background-color: white;
	box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.7);
	text-align: center;
	padding-bottom: 20px; 
}

#cont>h2{
	font-size: 26px;
	line-height: 40px;
	color: white;
	font-weight: bold;
	line-height: 40px;
	float: left;
	width: 100%;
}

#cont>p{
	float: left;
	width: calc(100% - 14px);
	height: auto;
	line-height: 22px;
	font-size: 18px;
	margin: 15px 7px;
}

#cont>button{
	width: 60%;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.7);
}